{{#if @getGemeente}}
<p class="hideInput" >{{@getGemeente}}
{{@besluit}}</p>
{{/if}}

{{#if (not @eenheids) }}
<AuLoader />
{{else if @eenheids.groupStemming}}
<div class="au-u-regular">
{{!-- start from besluit --}}
{{#each @eenheids.groupStemming as |group_geplande|}}
<div class="aanwezig">
<span class="au-u-bold">Zitting</span>
<AuIcon class="icon-filter" @icon="calendar" @alignment="left" @size="medium" @ariaHidden={{true}} /><span class="">{{set-date group_geplande.geplandeStart}}</span> 
<AuIcon class="icon-filter" @icon="info-circle" @alignment="left" @size="medium" @ariaHidden={{true}} /><span class="">{{set-time group_geplande.geplandeStart}}  <img class="location" src="assets/svg/location.svg" alt="location" /> {{group_geplande.location.value}}</span><br>
</div>
{{#each group_geplande.details_classificatie as |geplande|}}

{{#if (gt group_geplande.aanwezigBijstart.length 1)}}
<AuContent>
<span class="au-u-bold">Aanwezig bij start : </span>
{{#each group_geplande.aanwezigBijstart as |info|}}
{{#if (is-equal info.bestuursclassificatieBijStart geplande.bestuursclassificatie)}}
<span class="au-u-medium">{{info.bestuursfunctieBijStart}}</span>
{{#if (gt info.countBijStart 1)}}
<span class="au-u-medium"> {{info.countBijStart}} personen</span>
{{/if}}
<span class="au-u-medium">{{info.bestuursfunctie}}:</span> {{info.aanwezigenBijStart}}
{{/if}}
{{/each}}
</AuContent>
<br>
{{/if}}
{{!-- {{#each group_geplande.details_classificatie as |geplande|}} --}}
<AuCard class="clear" @expandable={{true}} @flex={{true}} @divided={{true}} as |c|>
<c.header @badgeSkin="brand" >
  <AuHeading @level="6" @skin="6" class="au-card_text-blue">
    {{geplande.bestuursclassificatie}} ({{geplande.details.length}})
  </AuHeading>
</c.header>
{{#each geplande.details as | details|}}
<c.content>
{{#if (gt details.title.length 1)}}
<p>
<AuIcon class="au-card_text-blue" @icon="check" @alignment="left" @size="large" @ariaHidden={{true}} /><span class="au-u-medium">{{details.title}}</span><br>
{{#if details.nbPro.value}}
<div class="stemming"><span class="circle circle__green"></span> {{details.nbPro.value}}</div> 
<div class="stemming"><span class="circle circle__orange"></span> {{details.nbNoVote.value}}</div>
<div class="stemming"><span class="circle circle__red"> </span> {{details.nbAnti.value}}</div>
{{/if}}
{{#if (gt details.voorstanders.value.length 1)}}
<AuAccordion class="heeftstemming highlight" @accordionIconOpen="nav-down" @accordionIconClosed="nav-right" @accordionButtonLabel="Stemming">
<div class="heeftstemming">
<p class="heeftstemmde"><AuPill @skin="success">voor:</AuPill> {{details.voorstanders.value}}</p>
<p class="heeftstemmde"><AuPill @skin="warning">onthouding:</AuPill> {{details.onthouders.value}}</p>
<p class="heeftstemmde"><AuPill @skin="error">tegen:</AuPill> {{details.tegenstanders.value}}</p>
</div>
</AuAccordion>
{{/if}}
{{#if (not-eq details.title.length details.description.value.length)}}
{{details.description.value}}<br>
{{/if}}
{{#if details.motivering.value}}
<span class="au-u-medium">Motivering:</span> {{details.motivering.value}}
{{/if}}

</p>
{{/if}}
</c.content>
{{/each}}
</AuCard>
<a href="#topBesluit"class="toTop"><AuIcon @icon="nav-up" @alignment="right" @size="large" @ariaHidden={{true}} /></a>
<br>
{{/each}}
{{/each}}
{{!-- end from besluit --}}
<br>
</div>
{{else}}
<AuPill @skin="action">
  <AuIcon @icon="alert-triangle" @alignment="left" @size="medium" @ariaHidden={{true}} /> Geen beschikbaar informatie
</AuPill>
{{/if}}
