<div class="search">
<AuLabel for="input-block">Ontdek wat onze vertegenwoordigers voor ons beslissen.</AuLabel>
<PowerSelect
  @width="block"
  title="kie gemeente" 
  @icon="search"
  @allowClear={{true}}
  @disabled={{this.disabled}}
  @searchEnabled={{true}}
  @loadingMessage="Aan het laden..."
  @noMatchesMessage="Geen resultaten"
  @searchMessage="Typ om te zoeken"
  @identifier={{this.identifier}}
  @options={{this.searchBesluit}}
  @selected={{this.selected}}
  @onChange={{this.onChange}}
  @placeholder="Besluiten beschikbaar" as |singleselect|>
  {{singleselect}}
</PowerSelect>
</div>


<div class="besluitSearch au-u-regular {{this.identifier}}">
<div id="topBesluiten" class="bottomtop"></div>
{{!-- template-lint-disable no-invalid-interactive --}}
<AuIcon class="toggle" @icon="cross" @alignment="left" @size="large" @ariaHidden={{true}} {{on "click" this.toggleClose}}/>
<div class="au-o-box">
<span class="au-u-h5 au-u-bold"> {{this.selected}}   </span><Object::Population  @name="{{this.selected}}"/><br>
<hr/>

<SearchBar::Content::Besluit
@selected={{this.selected}} 
/>

{{!-- {{#each @getBesluitenSearch as |geplande|}}
<AuContent>
<div class="aanwezig">
<span class="au-u-bold">Zitting</span>
<AuIcon @icon="calendar" @alignment="left" @size="medium" @ariaHidden={{true}} /><span class="">{{geplande.geplande_Date}}</span> 
<AuIcon @icon="info-circle" @alignment="left" @size="medium" @ariaHidden={{true}} /><span class="">{{geplande.geplande_Time}} | {{geplande.location.value}}</span><br>
{{#if (gt geplande.count 1)}}
<span class="au-u-bold">Aanwezig {{geplande.count}} personen </span>
{{/if}}
{{geplande.aanwezigenInfo}}
</div>
</AuContent>
<AuCard @expandable={{true}} @flex={{true}} @divided={{true}} as |c|>
<c.header @badgeSkin="brand" >
  <AuHeading @level="6" @skin="6" class="au-card_text-blue">
    {{geplande.bestuursclassificatie}} ({{geplande.details.length}})
  </AuHeading>
</c.header>
{{#each geplande.details as | details|}}
<c.content>
<p><br>
<div class="stemming"><span class="circle circle__green"></span> {{details.nbPro.value}}</div> 
<div class="stemming"><span class="circle circle__orange"></span> {{details.nbAnti.value}}</div>
<div class="stemming"><span class="circle circle__red"> </span> {{details.nbNoVote.value}}</div>
<span class="au-u-medium">{{details.title.value}}</span> <br>
{{#if details.description.value}}
<span class="au-u-medium">Description:</span> {{details.description.value}} <br>
{{/if}}
{{#if details.motivering.value}}
<span class="au-u-medium">Motivering:</span> {{details.motivering.value}}
{{/if}}
</p>
</c.content>
{{/each}}
</AuCard>
<a href="#topBesluiten" class="toTop"><AuIcon @icon="nav-up" @alignment="right" @size="large" @ariaHidden={{true}} /></a>
<br>
{{/each}}

 --}}
</div>
<div class="bottombox"></div> 
</div>