<div class="search">
<AuLabel for="input-block">Ontdek wat onze vertegenwoordigers voor ons beslissen.</AuLabel>
<PowerSelect
  @width="block"
  title="kie gemeente" 
  @icon="search"
  @allowClear={{true}}
  @disabled={{this.disabled}}
  @searchEnabled={{true}}
  @loadingMessage="Aan het laden..."
  @noMatchesMessage="Geen resultaten"
  @searchMessage="Typ om te zoeken"
  @identifier={{this.identifier}}
  @options={{this.singleselects}}
  @selected={{this.selected}}
  @onChange={{this.onChange}}
  @placeholder="Gemeente" as |singleselect|>
  {{singleselect}}
</PowerSelect>
</div>

{{!-- Besturen --}}
<div class="besturenSearch au-u-regular {{this.identifier}}">
<div class="bottomtop"></div>
{{!-- template-lint-disable no-invalid-interactive --}}
<AuIcon class="toggle" @icon="cross" @alignment="left" @size="large" @ariaHidden={{true}} {{on "click" this.toggleClose}}/>
<div class="au-o-box">
<span class="au-u-h5 au-u-bold"> {{this.selected}} </span><Object::Population  @name="{{this.selected}}"/><br>

{{!-- template-lint-disable no-arguments-for-html-elements --}}
<SearchBar::Content::Bestuur
@selected={{this.selected}} 
 />
{{!-- 
{{#each @getBestuurSearch.een_burgemeester as | een_burgemeester|}}
<p>{{een_burgemeester.voornaam}} {{een_burgemeester.achternaam}} {{een_burgemeester.functie}} <span class="au-u-medium">{{een_burgemeester.fractie.value}}</span></p>
{{/each}}
<hr>
<span class="au-u-bold">College van Burgemeester en Schepenen</span><br>
{{#each @getBestuurSearch.een_schepenen as |een_schepenen|}}
<p>{{een_schepenen.voornaam}} {{een_schepenen.achternaam}} {{een_schepenen.functie}} <span class="au-u-medium">{{een_schepenen.fractie.value}}</span></p>
{{/each}}
{{#each @getBestuurSearch.een_tschepenen as |een_tschepenen|}}
<p>{{een_tschepenen.voornaam}} {{een_tschepenen.achternaam}} {{een_tschepenen.functie}} <span class="au-u-medium">{{een_tschepenen.fractie.value}}</span></p>
{{/each}}
<hr>
<strong class="au-u-bold">Gemeenteraadsleden</strong><br> 
{{#each @getBestuurSearch.een_voorZgr as |een_voorZgr|}}
<p>{{een_voorZgr.voornaam}} {{een_voorZgr.achternaam}} {{een_voorZgr.functie}} <span class="au-u-medium">{{een_voorZgr.fractie.value}}</span></p>
{{/each}}
{{#each @getBestuurSearch.een_gr as |een_gr|}}
<p>{{een_gr.voornaam}} {{een_gr.achternaam}} <span class="au-u-medium">{{een_gr.fractie.value}}</span></p>
{{/each}} --}}

</div> 
<div class="bottombox"></div>
</div>