<div class="search">
<AuLabel for="input-block">Ontdek wat onze vertegenwoordigers voor ons beslissen.</AuLabel>
<PowerSelect
  @width="block"
  title="kie gemeente" 
  @icon="search"
  @allowClear={{true}}
  @disabled={{this.disabled}}
  @searchEnabled={{true}}
  @loadingMessage="Aan het laden..."
  @noMatchesMessage="Geen resultaten"
  @searchMessage="Typ om te zoeken"
  @identifier={{this.identifier}}
  @options={{this.singleselects}}
  @selected={{this.selected}}
  @onChange={{this.onChange}}
  @placeholder="Gemeente" as |singleselect|>
  {{singleselect}}
</PowerSelect>
</div>

{{!-- Page index --}}
<div class="indexSearch indexSearch--{{this.identifier}} au-u-regular">
<div class="bottomtop"></div>
{{!-- template-lint-disable no-invalid-interactive --}}
<AuIcon class="toggle" @icon="cross" @alignment="left" @size="large" @ariaHidden={{true}} {{on "click" this.toggleClose}}/>
<div class="au-o-box">
<span class="au-u-h5 au-u-bold"> {{this.selected}} </span><Object::Population  @name="{{this.selected}}"/><br>
<hr/>
{{!-- {{#each @model as |item|}}
 <p class="circle__red">{{item.gemeente}} </p> <br>
{{/each}} --}}

<Object::GemeenteInfo @name="{{this.selected}}" />
<div class="au-o-box--flush au-u-margin-top-small">
De inwoners van de gemeente verkozen de gemeenteraadsleden uit hun gemeente. De gemeenteraad vertegenwoordigt haar inwoners bij het nemen van besluiten. Deze app geeft inzicht in wat de gemeenteraad en het college van burgemeester en schepenen - als vertegenwoordigers van haar inwoners - in elke gemeente beslissen.
De gemeenteraad bestaat, in <span class="au-u-medium">{{this.selected}}</span> uit <span class="au-u-medium"><Object::Info  @name="{{this.selected}}"/></span> leden.<br>
</div>
<SwitchBar::Content::Intropage />
{{!-- {{this.index}}
{{#each this.res as |post|}}
  <div class="circle__green">
    {{post.gemeente}}
  </div><br>
{{/each}} --}}

{{!-- template-lint-disable no-log --}}

</div>
<div class="bottombox"></div> 
</div>